* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid greenyellow;
  background-color: #040028;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.859);
  padding: 1rem;
  margin: 0 auto;
}



main {
  width: 96%;
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
  align-items: center;
  background-color: #121212;
  color: wheat;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

main #titulo-projetos {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  border-bottom: 2px solid yellow;
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}

footer {
  width: 100%;
  padding: 21px 4%;
  background-color: #462255;
  color: wheat;
}

footer p {
  font-size: 0.9rem;
}

footer a {
  font-size: 1rem;
  color: wheat;
  text-decoration: none;
}

footer a:hover {
  color: #62a87c;
}
